<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Pone un icono en la pestaña -->
    <link rel="shortcut icon" href="../image/iconHotel.png">

    <!--hoja de estilos -->
    <link rel="stylesheet" type="text/css" href="../css/main.css" >
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css" >
    <title>{$titulo}</title>
  </head>
<body>

    <div id="wrapper">
      {$header}

      <div id="contenedor">
      <h1>{$titulo}</h1>

                <!--MUESTRA LA TABLA DE CLIENTESS -->
              <table class="table"  CELLSPACING=1  >

                <tr ALIGN=center>
                  <th >COTIZACION </th>
                  <th>SERVICIO</th>
                  <th>CANTIDAD</th>
                  <th>VER</th>
                  <th>EDITAR</th>
                  <th>ELIMINAR</th>
                </tr>

                {foreach $cotizacion_detalle as $elemento}
                <tr ALIGN=center>
                  <td>{$elemento.id_cotizacion}</td>
                  <td> {$elemento.id_servicio}</td>
                  <td> {$elemento.cantidad}</td>
                  <td> <img src="../image/report.png" ></td>
                  <td>
                    <a href="cotizacion_detalle.php?accion=editar&id_cotizacion={$elemento.id_cotizacion}&id_servicio={$elemento.id_servicio}">
                      <img src="../image/lapiz.png" >
                  </td>
                    </a>
                  <td>
                       <a href="cotizacion_detalle.php?accion=eliminar&id_cotizacion={$elemento.id_cotizacion}&id_servicio={$elemento.id_servicio}">
                      <img src="../image/cancel.png" >
                    </a>
                  </td>
                </tr>
                {/foreach}
            </table> <!-- fin de tabla -->

                <div class="alta">
                  <form >
                      <a  class=button href="cotizacion_detalle.php?accion=nuevo">Nueva Asignacion </a>
                  </form>
                </div>
            </div>
      {include file='../footer.html'}
    </div>

    <!-- CODIGO JAVASCRIPT -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap/bootstrap.min.js"></script>
</body>
</html>
