<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
      <meta charset="utf-8">

      <!--hoja de estilos -->
      <link rel="stylesheet" type="text/css" href="css/publico.css" >
      <link rel="stylesheet" type="text/css" href="css/fonts/style.css" >
      <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css" >
    <title> Bolsa de Trabajo </title>
  </head>
  <body class="cuerpo">
    <!--contenedor principal -->
    <div id="wrapper">
      {include file='publico/header_publico.html'}

      <div class="contenedor">
        <section>
          <h1>Vacantes Permanentes</h1>

          <ul>
            <li>Contador Público.</li>
            <li>requisitos</li>
            <li>Analista contable.</li>
          </ul>

          <h2>REQUISITOS </h2>
          <p>
              Escolaridad: Lic. Contabilidad o a fin Pasante, Titulado o Proceso de Titulación.Experiencia mínima de 1 año, se toma en cuenta Servicio Social en despacho contable.Conocimientos básicos en contabilidad en general, proceso de cuentas por pagar y almacén.
              Manejo preferente JD Edwards o algún RP
          </p>

          <h2>Outsourcing</h2>
          <h3>Lista de puestos disponibles</h3>
          <ul>
            <li>Contador Público.</li>
            <li>Auditor.</li>
            <li>Analista contable.</li>
          </ul>

          <h2>Postulate: </h2>

          <h3>FORMULARIO</h3>
            <ul>
              <li>Nombre</li>
              <li>E-mail</li>
              <li>○ Telefonos.</li>
              <li>○ Perfil(Menu desplegable)
                <ul>
                  <li>Gerente</li>
                  <li>Supervisor.</li>
                  <li>Analista</li>
                  <li>Auditor</li>
                  <li>Fiscalista</li>
                  <li>Analistas de inventario</li>
                </ul>
              </li>
            </ul>

        <h2>Pasantes</h2>
        <p>
          Estudiar algunas de las carrera: Contabilidad
          Estar en proceso de de titulación
          Sexo: Indistinto
        </p>

        </section>

        <aside id="bienvenida">
          <div >
            <div >
              <h2>Bolsa de trabajo</h2><br>
              <p>
                <img src=".\IMAGE\bolsa.jpg" height="150" width="220" />
              </p>

            </div>
          </div>

        </aside>
      </div>  <!--Fin del contenedor-->

      <!--Seccion footer -->
      {include file='publico/footer_publico.html'}

    </div>  <!--Fin del wrapper-->

    <!-- CODIGO JAVASCRIPT -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
  </body>
</html>
