<!-- Estilos para los documentos -->
<style type="text/css">
		.titulo
		{
			font-family: Helvetica, Geneva, Arial, sans-serif;
			background:#2980b9;
			color:#ecf0f1;
			text-align: center;
			border-radius:10px;
		}

    .table
    {
      border-collapse: collapse;
      width: 100%;
      font-size:12px;
      font-family: Helvetica, Geneva, Arial, sans-serif;
      margin: 0 auto;   /**Centra la tabla en el contenedor*/
      border: 1px;
    }
    th
    {
      text-align: center;
      background-color: #4CAF50;
      color: white;
    }

    th, td
    {
      padding: 8px;
      font-size:14px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

  </style>

	<page backtop="5%" backbottom="5%" backleft="5%" backright="5%">

    <h1 class="titulo">Cotizaciones </h1>
    <!--DETALE DE LAS COTIZACIONES -->
			  <table class="table">

			          <tr ALIGN=center>
			            <th >id cotizacion  </th>
			            <th>Razon Social</th>
			            <th>Fecha</th>
			            <th>Total Servicio</th>
			            <th>Total</th>

			          </tr>

			          {foreach $cotizacion as $elemento}
			          <tr ALIGN=center>
			            <td>{$elemento.id_cotizacion}</td>
			            <td> {$elemento.razon_social}</td>
			            <td> {$elemento.fecha}</td>
			            <td> {$elemento.total_servicio}</td>
			            <td> {$elemento.total}</td>
			          </tr>
			          {/foreach}
			      </table>
	</page>


<page backtop="5%" backbottom="5%" backleft="5%" backright="5%">

    <!--DETALLE DE LOS SERVICIOS -->
		<h1 class="titulo">Detalle de los servicios </h1>
        <table class="table" >

        <tr ALIGN=center>
          <th>ID_CLiente  </th>
          <th>Cantidad</th>
          <th>Precio</th>

        </tr>

        {foreach $detalle as $elemento}
        <tr ALIGN=center>
          <td>{$elemento.id_servicio}</td>
          <td> {$elemento.cantidad}</td>
          <td> {$elemento.precio}</td>
        </tr>
        {/foreach}
        </table>
</page>
