
{*Aquí incuimos el header y el footer de nuestra pagina web usando el include file*}
{*En este archivo también se añaden los iconos, de lupa, equis y lapiz*}
{*Realmente se ejecuta clientes.php*}
{*Esta plantilla solo imprime la tabla de elementos *}

<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <!-- Pone un icono en la pestaña -->
      <link rel="shortcut icon" href="../image/iconHotel.png">

      <!--hoja de estilos -->
      <link rel="stylesheet" type="text/css" href="../css/main.css" >
      <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css" >
      <title>Roles disponibles</title>
  </head>
<body>

    <div id="wrapper">
      {$header}


      <div id="contenedor">
      <h1>{$titulo}</h1>

                <!--MUESTRA LA TABLA DE -->
              <table class="table"  CELLSPACING=1  >

                <tr ALIGN=center>
                  <th >ROL </th>
                  <th>PRIVILEGIO</th>
                  <th>Ver</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                </tr>

                {foreach $rol as $elemento}
                <tr ALIGN=center>
                  <td>{$elemento.rol}</td>
                  <td> {$elemento.privilegio}</td>

                  <td> <img src="../image/report.png" ></td>
                  <td>
                    <a href="rol_privilegio.php?accion=editar&id_rol={$elemento.id_rol}&id_privilegio={$elemento.id_privilegio}">
                      <img src="../image/lapiz.png" >
                  </td>
                    </a>
                  <td>
                    <a  href="rol_privilegio.php?accion=eliminar&id_rol={$elemento.id_rol}&id_privilegio={$elemento.id_privilegio}">
                      <img src="../image/cancel.png" >
                    </a>
                  </td>
                </tr>
                {/foreach}
            </table>


                <div class="alta">
                  <form >
                      <a  class=button href="rol_privilegio.php?accion=nuevo">NUEVO PRIVILEGIO</a>
                  </form>
                </div>
            </div>
      {include file='../footer.html'}
    </div>

    <!-- CODIGO JAVASCRIPT -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap/bootstrap.min.js"></script>
</body>
</html>
