<!-- VISTA DE LOS CLIENTES -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Pone un icono en la pestaña -->
    <link rel="shortcut icon" href="../image/iconHotel.png">

    <!--hoja de estilos -->
    <link rel="stylesheet" type="text/css" href="../css/main.css" >
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css" >

    <title>{$titulo}</title>
  </head>
<body>

    <div id="wrapper">
      {$header}

      <div id="contenedor">
      <h1 class="titulo">{$titulo}</h1>

                <!--MUESTRA LA TABLA DE CLIENTESS -->
              <table class="table-condensed"  CELLSPACING=1  >

                <tr ALIGN=center>
                  <th >id Cliente </th>
                  <th>Razón Social</th>
                  <th>RFC</th>
                  <th>Domicilio</th>
                  <th>Telefono</th>
                  <th>Correo</th>
                  <th>Ver</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                </tr>

                {foreach $clientes as $cliente}
                <tr ALIGN=center>
                  <td>{$cliente.id_cliente}</td>
                  <td> {$cliente.razon_social}</td>
                  <td> {$cliente.rfc}</td>
                  <td> {$cliente.domicilio}</td>
                  <td> {$cliente.telefono} </td>
                  <td> {$cliente.correo}</td>
                  <td> <img src="../image/report.png" ></td>
                  <td>
                    <a href="clientes.php?accion=editar&id_cliente={$cliente.id_cliente}">
                      <img src="../image/lapiz.png" >
                  </td>
                    </a>
                  <td>
                    <a  href="clientes.php?accion=eliminar&id_cliente={$cliente.id_cliente}">
                      <img src="../image/cancel.png" >
                    </a>
                  </td>
                </tr>
                {/foreach}
            </table>

                  <!--INSERTA UN NUEVO CLIENTE-->

                <div class="alta">
                  <form >
                      <!--<input class=button type=submit value="alta" name="accion">-->
                      <a  class=button href="clientes.php?accion=nuevo">NUEVO CLIENTE</a>
                  </form>
                </div>
            </div>
      {include file='../footer.html'}
    </div>

    <!-- CODIGO JAVASCRIPT -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap/bootstrap.min.js"></script>
</body>
</html>
