
<!-- HOJA DE ESTILOS -->
	 <link rel="stylesheet" type="text/css" href="../css/main.css" >


    <h1 class="titulo">Cotizaciones </h1>
    <!--DETALE DE LAS COTIZACIONES -->


		<body>
			<div id="wrapper">
					<div id="contenedor">

						<div class="contenedor">
			        <table CELLSPACING=1  >

			          <tr ALIGN=center>
			            <th >id cotizacion  </th>
			            <th>Razon Social</th>
			            <th>Fecha</th>
			            <th>Total Servicio</th>
			            <th>Total</th>

			          </tr>

			          {foreach $cotizacion as $elemento}
			          <tr ALIGN=center>
			            <td>{$elemento.id_cotizacion}</td>
			            <td> {$elemento.razon_social}</td>
			            <td> {$elemento.fecha}</td>
			            <td> {$elemento.total_servicio}</td>
			            <td> {$elemento.total}</td>
			          </tr>
			          {/foreach}
			      </table>
			      </div>

					 <div>
			<div>
		</body>







    <!--DETALLE DE LOS SERVICIOS -->
      <div class="contenedor">
        <table class="table"  CELLSPACING=1  >

        <tr ALIGN=center>
          <th>ID_CLiente  </th>
          <th>Cantidad</th>
          <th>Precio</th>

        </tr>

        {foreach $detalle as $elemento}
        <tr ALIGN=center>
          <td>{$elemento.id_servicio}</td>
          <td> {$elemento.cantidad}</td>
          <td> {$elemento.precio}</td>
        </tr>
        {/foreach}
        </table>
      </div>
    </div>
